@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

{
    ViewBag.Title = "AsignPolitica";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
        <h1>Asignar Polìtica</h1><br />
        <div class="row">
            <div class="col-xs-4">
                <select name="from[]" id="lstview" class="form-control" size="10" multiple="multiple">
                    <option value="HTML">HTML2</option>
                    <option value="2">CSS</option>
                    <option value="CSS">CSS3</option>
                    <option value="jQuery">jQuery</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Bootstrap">Bootstrap</option>
                    <option value="MySQL">MySQL</option>
                    <option value="PHP">PHP</option>
                    <option value="JSP">JSP</option>
                    <option value="Rubi on Rails">Rubi on Rails</option>
                    <option value="SQL">SQL</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                </select>
            </div>

            <div class="col-xs-4">
                <button type="button" id="lstview_undo" class="btn btn-danger btn-block">undo</button>
                <button type="button" id="lstview_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="lstview_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="lstview_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="lstview_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="lstview_redo" class="btn btn-warning btn-block">redo</button>
            </div>

            <div class="col-xs-4">
                <select name="to[]" id="lstview_to" class="form-control" size="10" multiple="multiple"></select>
            </div>
        </div>



@section scripts
{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#lstview').multiselect({
                    search: {
                        left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                        right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    }
                });
            });
</script>
}

    }
